<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Tra cứu thông tin rò rỉ của VietNam Airlines 29/07/2016</title>
    <link rel="stylesheet" href="/default.css" media="screen">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" media="screen">
    <link rel="icon" type="image/png" href="/favicon.png">
</head>

<body>
    <h1>Looking up leakage informations of Vietnam Airlines</h1>

    <!-- Search -->
    <br>

    <form action="{{ url_for('show_user_info') }}" method="POST">
        <input type="submit" value="Search" class="btn btn-primary"/>
        <input type="search" class="form-control search" name="inputsearch" placeholder="Name">
        <input type="search" class="form-control search" name="inputsearch_birthday" placeholder="Birthday(example: 1970/02/28)">
    </form>

    <br>

    <!-- Define Table -->
    <table cellspacing="0" class="table table-bordered table-hover table-condensed">
    <thead>
    <tr role="row">
        {% for field in fields %}
        <th bgcolor="ECECEC">{{ field }}</th>
        {% endfor %}
    </tr>
    </thead>
    {% if user_info == "error_inputsearch" %}
        <p><font size="4" color="red">Do not use special characters when searching.</font></p>
        </table>
    {% elif not user_info %}
        <p><font size="4" color="green">No Results Found!</font></p>
        </table>
    {% else %}
        {% for info in user_info %}
        <tr>
        {% for value in info %}
            <td><font size="2">{{ value }}</font></td>
        {% endfor %}
        </tr>
        {% endfor %}
        </table>
    {% endif %}

    <!-- Define pagination -->
    <ul class="pagination">
     <li><a href="?page=1">First</a></li>
    {% if page == 1 %}
     <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
     <li><a href="?page={{ page + 1 }}">{{ page + 1 }}</a></li>
     <li><a href="?page={{ page + 2 }}">{{ page + 2 }}</a></li>
     <li><span>...</span></li>
     <li><a href="?page={{ last_page }}">{{ last_page }}</a></li>
    {% elif page == last_page %}
     <li><a href="?page=1">1</a></li>
     <li><span>...</span></li>
     <li><a href="?page={{ page - 2 }}">{{ page - 2 }}</a></li>
     <li><a href="?page={{ page - 1 }}">{{ page - 1 }}</a></li>
     <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
    {% else %}
     <li><a href="?page={{ page - 1 }}">{{ page - 1 }}</a></li>
     <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
     <li><a href="?page={{ page + 1 }}">{{ page + 1 }}</a></li>
    {% endif %}
     <li><a href="?page={{ last_page }}">Last</a></li>
    </ul>

    <!-- Integrated with Disqus -->
    <div id="disqus_thread"></div>
    <script>
    var disqus_config = function () {
    this.page.url = 'http://vuquangkha.com{{ request.path }}';
    this.page.identifier = '{{ request.path }}';
    };

    (function() {
    var d = document, s = d.createElement('script');
    s.src = '//vuquangkha.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

    <footer class="footer">
        <div class="well">
                <p class="copyright">Built with <i class="glyphicon glyphicon-heart text-danger"></i> by <a
                        href="https://vn.linkedin.com/in/khavu" target="_blank">KhaVu</a> in Saigon.</p>
        </div>
    </footer>
</body>

</html>
